<h1>BLOG TITLE</h1>

<ul>
    <% @blogs.each do |blog| %>
        <li><%= blog.title %> 
         <%= link_to 'SEE MORE', blog_path(blog) %>  
        </li>
    <% end %>
</ul>

<%= link_to 'ADD NEW', new_blog_path %>



<footer style="position: fixed; bottom: 0; width: 100%; text-align: center; background-color: #f0f0f0;">App create by <a href="https://www.linkedin.com/in/alejandra-hale/" target="_blank">Aleja</a> & <a href="https://www.linkedin.com/in/andrea-lopez-delgado/" target="_blank">Dre</a></footer>